<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
        .pagination {
            display: flex;
            justify-content: space-around;
            width: 17%;
        }

        .pagination a {
            text-decoration: none;
            background-color: black;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar') %>

        <div class="container mt-5 p-4 shadow-lg w-75">
            <h2 class="text-center">Client's Data</h2>
            <table class="table table-hover">
                <thead>
                    <thead>
                        <tr>
                            <th>Client Name
                                <a href="/clientData?sort=username" class="sort-link" id="change">&#9650;</a>
                                <a href="/clientData?sort=-username" id="change" class="sort-link">&#9660;</a>
                            </th>
                            <th>Airtel A Data
                                <a href="/clientData?sort=sim1" class="sort-link" id="change">&#9650;</a>
                                <a href="/clientData?sort=-sim1" id="change" class="sort-link">&#9660;</a>
                            </th>
                            <th>Airtel M Data
                                <a href="/clientData?sort=sim2" class="sort-link" id="change">&#9650;</a>
                                <a href="/clientData?sort=-sim2" id="change" class="sort-link">&#9660;</a>
                            </th>
                            <th>BSNL Data
                                <a href="/clientData?sort=sim3" class="sort-link" id="change">&#9650;</a>
                                <a href="/clientData?sort=-sim3" id="change" class="sort-link">&#9660;</a>
                            </th>
                        </tr>
                    </thead>
                </thead>
                <tbody>
                    <% clientData.forEach(user=> { %>
                        <tr>
                            <td>
                                <%= user.client %>
                            </td>
                            <td>
                                <%= user.totalAirtelAData %>
                            </td>
                            <td>
                                <%= user.totalAirtelMData %>
                            </td>
                            <td>
                                <%= user.totalBsnlData %>
                            </td>
                        </tr>
                        <% }); %>

                </tbody>
            </table>

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>

</html>